/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
body {
    background: #F87060;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*!**************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/App.css ***!
  \**************************************************************************/
.font-white-xl{
    color: white;
    font-size: large;
}
